<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title</title>
        <link href="~/Content/Site.css" rel="stylesheet" />
        <link rel='stylesheet' href='//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css'>
        <script src='//code.jquery.com/jquery-1.9.1.js'></script>
        <script src='//code.jquery.com/ui/1.10.4/jquery-ui.js'></script>
        <script src="~/Scripts/Site.js"></script>
        <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon" />
    </head>
    <body>
        <div>
            <div id="wrapper" class="clear">
                @RenderBody()
            </div>
        </div>
    </body>
</html>
