<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title</title>
        <link href="~/Content/Site.css" rel="stylesheet" />
    </head>
    <body>
        <div>
            <div id="wrapper" class="clear">
                @RenderBody()
            </div>
        </div>
    </body>
</html>
