@{
    ViewBag.Title = "List Of All Polls";
}

            <header>
				<h1>Just Polls - List of all polls - Page 5 / 8</h1>
			</header>
			<section>
				<article class="clear">
					<div class="question">
						On a scale of 1 to 10 what is your favourite color of the alphabet?
					</div>
					<button class="buttonVote">Vote!</button>
					<div class="votes">
						<table>
							<tr>
								<td><div class="progress"><span class="votePercents"></span></div></td>
								<td class="answer"><strong>Yes.</strong> (41 votes)</td>
							</tr>
							<tr>
								<td><div class="progress"></div></td>
								<td class="answer"><strong>No, I don't think so.</strong> (30 votes)</td>
							</tr>
							<tr>
								<td><div class="progress"></div></td>
								<td class="answer"><strong>May be.</strong> (20 votes)</td>
							</tr>
							<tr>
								<td><div class="progress"></div></td>
								<td class="answer"><strong>Can you repeat the question?</strong> (9 votes)</td>
							</tr>
						</table>
					</div>
				</article>
				<article class="clear">
					<div class="question">
						On a scale of 1 to 10 what is your favourite color of the alphabet?
					</div>
					<button class="buttonVote">Vote!</button>
					<div class="votes">
						<table>
							<tr>
								<td><div class="progress"><span class="votePercents"></span></div></td>
								<td class="answer"><strong>Yes.</strong> (41 votes)</td>
							</tr>
							<tr>
								<td><div class="progress"></div></td>
								<td class="answer"><strong>No, I don't think so.</strong> (30 votes)</td>
							</tr>
							<tr>
								<td><div class="progress"></div></td>
								<td class="answer"><strong>May be.</strong> (20 votes)</td>
							</tr>
							<tr>
								<td><div class="progress"></div></td>
								<td class="answer"><strong>Can you repeat the question?</strong> (9 votes)</td>
							</tr>
						</table>
					</div>
				</article>
				<article class="clear">
					<div class="question">
						On a scale of 1 to 10 what is your favourite color of the alphabet?
					</div>
					<button class="buttonVote">Vote!</button>
					<div class="votes">
						<table>
							<tr>
								<td><div class="progress"><span class="votePercents"></span></div></td>
								<td class="answer"><strong>Yes.</strong> (41 votes)</td>
							</tr>
							<tr>
								<td><div class="progress"></div></td>
								<td class="answer"><strong>No, I don't think so.</strong> (30 votes)</td>
							</tr>
							<tr>
								<td><div class="progress"></div></td>
								<td class="answer"><strong>May be.</strong> (20 votes)</td>
							</tr>
							<tr>
								<td><div class="progress"></div></td>
								<td class="answer"><strong>Can you repeat the question?</strong> (9 votes)</td>
							</tr>
						</table>
					</div>
				</article>
			</section>
			<nav>
				<a href="#">First</a>
				<a href="#">Prev</a>
				<a href="#">1</a>
				<a href="#">2</a>
				<a href="#">3</a>
				<a href="#">4</a>
				<a href="#">5</a>
				<a href="#">6</a>
				<a href="#">7</a>
				<a href="#">8</a>
				<a href="#">Next</a>
				<a href="#">Last</a>
			</nav>
			<footer>
				Copyright &copy; Just Polls (forever beta) 2012
			</footer>