@{
    ViewBag.Title = "Vote";
}

            <header>
				<h1>Please answer the question "On a scale of 1 to 10 what is your favourite
					color of the alphabet?"
				</h1>
			</header>
			<article class="clear">
				<div class="question">
					Yes.
				</div>
				<button class="buttonVote">Vote!</button>
				<div class="question">
					No, I don't think so.
				</div>
				<button class="buttonVote">Vote!</button>
				<div class="question">
					May be.
				</div>
				<button class="buttonVote">Vote!</button>
				<div class="question">
					Can you repeat the question?
				</div>
				<button class="buttonVote">Vote!</button>
				<a href="#" class="buttonBackToVoteList">Back to the list of polls</a>
			</article>
			<footer>
				Copyright &copy; Just Polls (forever beta) 2012
			</footer>
